<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokemon App
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background-content" >

<div class="pokemon">
  <ion-card class="poke">
    <ion-item>
      <ion-label class="Buscar" position="floating">Ingrese ID o Nombre </ion-label>
      <ion-input class="Buscar" type="text" [(ngModel)]="pokemonQuery"></ion-input>
    </ion-item> <br>
    <ion-button expand="block" (click)="getPokemonDataByQuery()">Buscar</ion-button>
  </ion-card>
  <br>
  <ion-card class="imagen" *ngIf="pokemonByQuery">
    <ion-card-content>
      <img [src]="pokemonByQuery.imageUrl" [alt]="pokemonByQuery.name" width="250">
      <ion-card-header class="info">
        {{ pokemonByQuery.name }}
      </ion-card-header>
      <ion-card-header class="info">
        ID: {{ pokemonByQuery.id }}
      </ion-card-header>
     
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

